.header .button-group button {
	margin: 0 1rem;
	padding: 5px 10px;
	color: #fff;
	background-color: #33b628;
	border-radius: 25px;
	min-width: 70px;
	transition: 0.2s ease-in-out;
}

.header .button-group button:hover {
	background-color: #34b628c7;
}

@media screen and (max-width: 558px) {
	.header .button-group button {
		font-size: 0.7rem;
		margin: 0 0.5rem;
	}
}
